//- Start About-Us
section.about-us
    .container
        .about-cont
            .about-img
                img(src="images/about.jpg", alt="")
            .about-info
                h2 Who We Are?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel molestiae tempora consectetur illum harum. Tempora cum deserunt numquam est! Mollitia cupiditate reiciendis inventore iste, molestias ut modi rem facilis repellendus vel aperiam tenetur a quaerat assumenda distinctio facere velit quo dicta porro natus blanditiis atque est. Veritatis voluptatum eius libero!
                abbr Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero consequuntur labore minus magni, illo hic! Aspernatur neque facere fuga excepturi.
                marquee(bgcolor="#CCC", loop="-1", scrollamount="5", width="100%") Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nemo, doloribus iste autem commodi dicta cum reprehenderit rem placeat!
//- End About-Us