//- Start Banners
section.banners
    .container
        .big-banners
            .big-banner
                .content
                    span Crazy Deals
                    h3 Buy 1 Get 1 Free
                    p The Best Classic Dress Is On Sale Of Cara
                    button.main-butt Learn More
            .big-banner
                .content
                    span Spring/Summer
                    h3 Up Comming Season
                    p The Best Classic Dress Is On Sale Of Cara
                    button.main-butt Collection
        .sm-banners
            .sm-banner
                .content
                    h3 Season Sale
                    p Winter Collection - 50% OFF
            .sm-banner
                .content
                    h3 New Footwear Collection
                    p Spring / Summer 2022
            .sm-banner
                .content
                    h3 T-Shirts
                    p New Trendy Prints
//- End Banners