//- Start Blogs
section.blogs
    .container
        .blogs-cont
            .blog
                .blog-img
                    img(src="images/blog1.webp", alt="")
                .blog-info
                    h3 The Cotton-Jersy Zip-Up Hoodie
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus nihil adipisci atque tempore, culpa voluptatem! Architecto perspiciatis excepturi voluptas dolores?
                    a Continue Reading
            .blog
                .blog-img
                    img(src="images/blog2.jpg", alt="")
                .blog-info
                    h3 How To Style a Quiff
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus nihil adipisci atque tempore, culpa voluptatem! Architecto perspiciatis excepturi voluptas dolores?
                    a Continue Reading
            .blog
                .blog-img
                    img(src="images/blog3.jpg", alt="")
                .blog-info
                    h3 Must-Have Skater Girl Items
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus nihil adipisci atque tempore, culpa voluptatem! Architecto perspiciatis excepturi voluptas dolores?
                    a Continue Reading
            .blog
                .blog-img
                    img(src="images/blog4.jpg", alt="")
                .blog-info
                    h3 Runway-Inspired Trends
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus nihil adipisci atque tempore, culpa voluptatem! Architecto perspiciatis excepturi voluptas dolores?
                    a Continue Reading
            .blog
                .blog-img
                    img(src="images/blog5.webp", alt="")
                .blog-info
                    h3 AW20 Mens-wear Trends
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus nihil adipisci atque tempore, culpa voluptatem! Architecto perspiciatis excepturi voluptas dolores?
                    a Continue Reading
        .paginations
            ul
                li 1
                li 2
                li: i(class="fas fa-arrow-right")
//- End Blogs