//- Start Features
section.features
    .container
        .feat-cont
            .feat-box
                .feat-img
                    img(src="images/feat1.png", alt="")
                span(class="red") Free Shipping
            .feat-box
                .feat-img
                    img(src="images/feat2.jpg", alt="")
                span(class="green") Online Order
            .feat-box
                .feat-img
                    img(src="images/feat3.webp", alt="")
                span(class="blue") Save Money
            .feat-box
                .feat-img
                    img(src="images/feat4.webp", alt="")
                span(class="purple") Promotions
            .feat-box
                .feat-img
                    img(src="images/feat5.jpg", alt="")
                span(class="pink") Happy Sell
            .feat-box
                .feat-img
                    img(src="images/feat6.jpg", alt="")
                span(class="orange") F24/7 Support
//- End Features