//- Start Footer
footer
    .container
        .footer-cont
            .footer-contact
                h2.logo Cara
                h3 Contact
                p #[span Address:] 562 Wellington Road, Street 32, San Francisco
                p #[span Phone:] +01 2222 365 / (+91) 01 2345 6789
                p #[span Hours:] 10:00 - 18:00, Mon - Sat
                h3 Follow Us
                ul.social
                    li: i(class="fab fa-facebook-f")
                    li: i(class="fab fa-twitter")
                    li: i(class="fab fa-instagram")
                    li: i(class="fab fa-pinterest-p")
                    li: i(class="fab fa-youtube")
            .footer-about
                h3 About
                ul
                    li About Us
                    li Delivary Information
                    li Privacy Policy
                    li Terms &amp; Conditions
                    li Contact Us
            .footer-account
                h3 My Account
                ul
                    li Sign In
                    li View Cart
                    li My Wishlist
                    li Track My Order
                    li Help
            .footer-app
                h3 Install App
                p From App Store Or Google Play
                .imgs
                    img(src="images/app1.png", alt="")
                    img(src="images/app2.png", alt="")
                p Secured Payment Gateways
                .brands
                    img(src="images/brand2.jpg", alt="")
                    img(src="images/brand1.png", alt="")
                    img(src="images/brand3.png", alt="")
    .copyright
        .container
                p &copy; 2022 Mahmoud Hamed - Ecommerce Website
//- End Footer