//- Start Landing
header
    .container
        .intro
            p Trade-In-Offer
            h2 Super Value Deals
            h2 On All Products
            p Save More With Coupons &amp; Up To 70% Off
            button Shop Now
//- End Landing