//- Start My-Cart
section.my-cart
    .container
        table
            thead
                tr
                    th Remove
                    th Image
                    th Product
                    th Price
                    th Quantity
                    th Subtotal
            tbody
                tr
                    td: i(class="fas fa-times-circle")
                    td: img(src="images/product1.jpg", alt="")
                    td: span Cartoon Astronaut T-Shirt
                    td: span $118.19
                    td: input(type="number", value="1")
                    td: span $118.19
                tr
                    td: i(class="fas fa-times-circle")
                    td: img(src="images/product2.webp", alt="")
                    td: span Cartoon Astronaut T-Shirt
                    td: span $118.19
                    td: input(type="number", value="1")
                    td: span $118.19
                tr
                    td: i(class="fas fa-times-circle")
                    td: img(src="images/product3.jpg", alt="")
                    td: span Cartoon Astronaut T-Shirt
                    td: span $118.19
                    td: input(type="number", value="1")
                    td: span $118.19
//- End My-Cart