//- Start Navbar
nav
    .container
        .nav-cont
            .logo
                h2 Cara
            .nav-icons
                i(class="fas fa-bars fa-2x bars")
                i(class="fas fa-shopping-bag fa-2x cart")
            ul.links
                li
                    i(class="fas fa-times fa-2x close")
                li
                    a(href="index.html") Home
                li
                    a(href="about.html") About
                li
                    a(href="blog.html") Blog
                li
                    a(href="shop.html") Shop
                li
                    a(href="contact.html") Contact
                li
                    a(href="cart.html"): i(class="fas fa-shopping-bag fa-lg cart")
//- End Navbar