//- Start Price
section.price
    .container
        .price-cont
            .coupon
                h3 Apply Coupon
                input(type="text", placeholder="Enter Your Coupon")
                button Apply
            .cart-total
                h3 Cart Total
                table
                    tr
                        td Cart Subtotal
                        td $ 335
                    tr
                        td Shopping
                        td Free
                    tr
                        td: strong Total
                        td: strong $ 335
                button Proceed To Checkout
//- End Price