//- Start Product
section.product-details
    .container
        .details-cont
            .product-img
                img(src="images/product1.jpg", alt="")
                ul
                    li(class="active"): img(src="images/product1.jpg", alt="")
                    li: img(src="images/product2.webp", alt="")
                    li: img(src="images/product3.jpg", alt="")
                    li: img(src="images/product4.jpg", alt="")
            .details
                h5 Home / T-shirt
                h2 Men's Fashion T-Shirt
                span $139.00
                select
                    option Select Size
                    option Small
                    option Medium
                    option Large
                    option XL
                    option XXL
                input(type="number", value="1")
                button Add To Cart
                h3 Product Details
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam nulla aut illo tempora ex aspernatur iusto magni veritatis! Facere odit libero eum ut quam, quisquam natus corporis fugit provident odio ab voluptates nobis sunt blanditiis adipisci culpa pariatur velit amet itaque officia cumque totam. Quisquam vitae beatae, reprehenderit facilis, officia, quasi nisi fugit tempora sint quam corrupti est doloremque numquam?
//- End Product