//- Start Products
.products
    .container
        +section-head("Featured Products")
        .products-cont
            .product
                .image
                    img(src="images/product1.jpg", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.products-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product2.webp", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product3.jpg", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product4.jpg", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product5.webp", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product6.jpg", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product7.jpg", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
            .product
                .image
                    img(src="images/product8.jpg", alt="")
                span.brand adidas
                h4 Cartoon Astronout Shirt
                ul
                    - for (var i = 1 ; i <= 5 ; i++)
                        li: i(class="fas fa-star")
                span.product-price $78
                i(class="fas fa-cart-arrow-down")
//- End Products