//- Start Sale
section.sale
    .container
        span.repair Repair Services
        p Up To #[span 70% Off] - All T-Shirts &amp; Accessories
        button.main-butt Explore More
//- End Sale