//- Start New-Sletter
section.sletter
    .container
        .sletter-cont
            .text
                h3 Sign Up For Newsletters
                p Get E-mail Updates About Our Latest Shop And #[span Special Offers]
            form
                input(type="text" placeholder="Your email address")
                input(type="submit" value="Sign Up")
//- End New-Sletter