//- Start Testmonials
section.testmo
    .container
        .testmo-cont
            .form
                span Leave A Message
                h2 We Love To Hear From You
                form
                    input(type="text", placeholder="Your Name")
                    input(type="email", placeholder="Email")
                    input(type="text", placeholder="Subject")
                    textarea(placeholder="Your Message")
                button Submit
            .testmo-details
                .testmo-box
                    .img
                        img(src="images/person1.jpg", alt="")
                    .text
                        h4 John Doe
                        span Senior Marketing
                        span Phone: +000 123 000 77 88
                        span Email: contact@exampla.com
                .testmo-box
                    .img
                        img(src="images/person2.jpg", alt="")
                    .text
                        h4 William Smith
                        span Senior Marketing
                        span Phone: +000 123 000 77 88
                        span Email: contact@exampla.com
                .testmo-box
                    .img
                        img(src="images/person3.jpg", alt="")
                    .text
                        h4 Emma Stone
                        span Senior Marketing
                        span Phone: +000 123 000 77 88
                        span Email: contact@exampla.com
//- End Testmonials