// Main Colors
$main-color: #088178;
$h-color: #222;
$p-color: #465B52;
$light: #EEE;
$dark: #333;
$grey: #666;
$border: #CCE7D0;

// Transition
$main-trans: 0.3s;

// Padding
$padd-top: 80px;
$padd-bottom: 80px;