// Start About-Us Media
@include media("tablet") {
    .about-us {
        .about-cont {
            flex-direction: column;
            .about-img {
                width: 100%;
                margin-bottom: 40px;
            }
            .about-info {
                width: 100%;
                h2 {
                    font-size: 28px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
}
@include media("medium") {
    .about-us {
        .about-cont {
            .about-info {
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 15px;
                    line-height: 1.4;
                }
            }
        }
    }
}
// End About-Us Media